trigger: none
pool: anoop_pool
stages:
  - stage: 
    jobs:
      - job: anoopjob
        displayName: anoopjob
        steps:
        - task: TerraformTask@5
          displayName: terraform init
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'anoopkaconnection'
            backendAzureRmStorageAccountName: 'anooprahulsa'
            backendAzureRmContainerName: 'anoopcontainer'
            backendAzureRmKey: 'anoop.tfstate'
        - task: TerraformTask@5
          displayName:  terraform apply
          inputs:
            provider: 'azurerm'
            command: 'apply'
            commandOptions: '--auto-approve'
            environmentServiceNameAzureRM: 'anoopkaconnection'